.timeline-container {
    height: 300px;
    width: 50px;
    position: relative;
    margin: 50px;
  }
  
  .timeline {
    height: 100%;
    width: 6px; 
    background-color: lightgray;
    border-radius: 6px;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  
  .draggable {
    width: 18px;
    height: 18px;
    background-color: #4CAF50;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -6px;
    cursor: pointer;
  }
  